<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400"
  rel="stylesheet"
/>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Expense Manager</a>
    <form class="d-flex me-5">
      <a href="/login" class="btn btn-outline-warning">Login</a>
    </form>
  </div>
</nav>
<div class="conatiner btn-warning">
    <div class="container p-5 mt-5">
        <h1>Expense Manager</h1>
      </div>

</div>


<div class="container mt-5">
    <div class="container">
        <h5>
            Personal finance management is an important part of people’s lives. However,
            everyone does not have the knowledge or time to manage their finances in a
            proper manner. And, even if a person has time and knowledge, they do not
            bother with tracking their expenses as they find it tedious and
            time-consuming. Now, you don’t have to worry about managing your expenses,
            as you can get access to an expense tracker that will help in the active
            management of your finances.
          </h5>

    </div>

</div>

<%- include('footer') %>
