<%- include('partials/header') %>


<div class="container-fluid mt-3 p-1  ">
  <h1 class="text-center p-2"  style="background-color: #00539cff; color: white;" >Create Course </h1>
</div>
<div class="container mt-4">
 
    <form action="/create" method="POST">
      <!-- <a class="btn btn-primary " href="/" style="background-color: #00539cff; color: aliceblue;">All Users</a> -->
      <div class="form-group mt-3">
        <label for="exampleInputEmail1">Course Name</label>
        <input type="text" name = "Coursename" class="form-control" placeholder="Course Name">
        
      </div>
      <div class="form-group mt-3">
        <label for="exampleInputEmail1">Course Duration</label>
        <input type="text" name = "duration" class="form-control" placeholder="Course Duration">
        
      </div>
     <div class="form-group mt-3">
        <label for="exampleInputEmail1">Course Fees</label>
        <input type="text"  name = "fees" class="form-control" placeholder="Course Fees">
        
      </div>

        <a class="btn  mt-4 " href="/" style="background-color: #00539cff; color: aliceblue;">All Courses</a>
      <button type="submit" class="btn  mt-4 mr-3" style="background-color: #00539cff; color: aliceblue;" >Create Course</button>
    </form>
    </div>